<div class="container-fluid">
     <div
          class="row justify-content-center align-items-center"
          style="height: 85vh;"
     >
          <div id="col-info" class="col-12 col-sm-10 col-lg-6 p-5">
               <h1 class="text-primary">
                    <strong>Vuospeak te permite agregar tus notas con reconocimiento de voz</strong>
               </h1>
               <p>Gracias a la nueva funcionalidad de vuospeak, podras agregar todas tus notas utilizando tu voz, ademas de escucharlas.</p>
               <button
                    mat-raised-button
                    routerLink="/auth/register"
                    class="bg-primary text-white mx-auto d-block py-1 px-3 rounded-pill"
               >Crear una cuenta.</button>
          </div>
          <div id="col-banner" class="col-12 col-lg-6 p-4 d-none d-lg-block">
               <img
                    src="/assets/images/banner.svg"
                    style="object-fit: cover;"
                    width="90%"
                    alt="Vuospeak banner home"
               >
          </div>
     </div>
</div>