<div class="row px-3 justify-content-center">
     <div class="col-12 col-lg-7 mt-5">
          <h1 class="text-primary">
               <strong>Privacidad y seguridad</strong>
          </h1>
          <hr>
          <mat-card class="border-0 shadow">
               <ul class="list-group">
                    <li class="list-group-item">
                         <div class="row">
                              <div class="col-12 col-md-8 col-lg-9">
                                   <span style="font-size: 15px;">Con esta accion vas a cerrar tu sesion, si deseas ingresar nuevamente solo necesitas iniciar sesion.</span>
                              </div>
                              <div class="col-12 col-md-4 col-lg-3 mt-2 mt-md-0 text-right">
                                   <button
                                        class="text-danger"
                                        (click)="logout()"
                                        mat-button
                                   >
                                        <small>Cerrar sesion</small>
                                   </button>
                              </div>
                         </div>
                    </li>
               </ul>
          </mat-card>
     </div>
</div>