<div class="container py-3">
     <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-md-7 col-lg-10 p-3">

               <mat-card class="border-0 shadow">
                    <div class="row align-items-center">
                         <div class="col-12 col-lg-6 d-none d-lg-block">
                              <img
                                   src="/assets/images/banner-login.svg"
                                   alt="Banner login"
                                   width="100%"
                              >
                         </div>
                         <div class="col-12 col-lg-6">
                              <app-auth-form
                                   [isRegister]="false"
                                   [header]="header"
                              ></app-auth-form>
                         </div>
                    </div>
               </mat-card>
          </div>
     </div>
</div>